body {
  margin: 0;
  padding: 0;
  background-color: black;
  /* height: 100% */
}

i {
  font-size: 24px;
}

h2 {
  color: #27C36A;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label .radio-icon i {
  color: black;
}

input[type="color"] {
  display: none;
}

label .color i {
  color: #27C36A;
}

label .radio-icon i {
  color: #e5e5e5;
}


/* classes */
.controls-item {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0px 2px 0px 2px;
  z-index: 3;
}

.fa-sun {
  color: #fff;
}

.radio-icon {
  margin-right: 7px;
}

.animate {
  animation: moveText 1s ease-out;
}

@keyframes moveText {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


/* ids */

/* #main-container {
  width: 100vw;
  height: 100vh;
} */

#title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  font-family: 'Inter', sans-serif;
  transition: transform 1s ease-out;
}

/* #canvas-container {
  width: 100%;
  height: 100%;
} */

#canvas {
  position: absolute;
  top: auto;
  left: auto;
  width: 100%;
  height: 100%;
}

#controls-main {
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 15px 12px 15px;
  background-color: #27C36A;
  border-radius: 10px;
  z-index: 2;
}

#play-pause {
  width: 40px;
}

#visual-option {
  display: flex;
  font-family: "Font Awesome 5 Free";
}

#color-selector {
  display: flex;
  font-family: "Font Awesome 5 Free";
}

#color-div {
  position: absolute;
  left: 30px;
}

#color-picker {
  cursor: pointer;
  background: none;
  border: none;
  -webkit-appearance: none;
}

#color-picker::-webkit-color-swatch {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: none;
  border: 2px solid #27C36A;
}
#light-toggle {
  position: absolute;
  right: 30px;
}

#seek {
  -webkit-appearance: none;
  width: 100%;
  height: 13px;
  border-radius: 5px;
  background: transparent;
  outline: none;
}

#seek::-webkit-slider-runnable-track {
  border-radius: 50px;
  border: 0;
}

#seek::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: black;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

#seek::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}

#seek::-webkit-slider-thumb:active {
  transform: scale(1.5);
}



/* hovers */
button:hover {
  cursor: pointer;
}

i:hover {
  cursor: pointer;
}